{% extends 'content/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'content/mainpage.css' %}">
</head>
<section class="jumbotron text-center">
    <div class="containerbox">
      <h1 class="jumbotron-heading">To Do List</h1>
      <p class="lead text-muted"><strong>LikeLion 8th</strong><br>made by 규리, 유림, 주연, 재환</p>
      <p>
        <a href="{% url 'create' %}" class="btn btn-primary my-2">할 일 생성</a>
       
      </p>
    </div>
  </section>

<div class="album py-5 bg-light">
    <div class="containerbox">

 <link rel="stylesheet" href="{% static 'content/css/timeline.css' %}">

    <div style="background-color: #474e5d;">
      <div class="timeline" style="background: #474e5d">
        <div class="containerbox left">
          <div class="content">
            <h2>2017</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>      
          </div>
        </div>
        <div class="containerbox right">
          <div class="content">
            <h2>2016</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci.</p>      
          </div>
        </div>
        <div class="containerbox left">
          <div class="content">
            <h2>2015</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto perfecto perfecti perfect!</p>      
          </div>
        </div>
      </div>
    </div>
    </div>

      {% endblock %}