{% extends 'content/base.html' %}
{% load static %}
{% block content %}
<h1> 게시물 리스트가 쌓이는 공간임</h1>

{% for list in lists.all %}
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ list.image.url }}" data-holder-rendered="true">
            <div class="card-body">
              <small class="text-muted">{{list.user_id}}</small>
              <p class="card-text"><b>{{list.title}}</b></p>

              <p class="card-text">{{list.summary}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"><strong>{{list.write_time}}</strong></small>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{list.finish_time}}</small>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}