{% extends 'content/base.html' %}
{% load static %}
{% block content %}
<html>
<!--d-->
<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="login.css"> -->
</head>
<div class="form">

  <ul class="tab-group">
    <li class="tab active"><a href="{%url 'signup'%}">Sign Up</a></li>
  </ul>

  <div class="tab-content">
    <div id="login">
      <h1>Welcome Todolist!</h1>

      <form method="POST" action="{%url 'logincheck'%}">
        {% csrf_token %}
        <label for="inputID" class="sr-only">ID</label>
        <input type="text" id="userid" name="userid" class="form-control" placeholder="ID">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="userpw" name="userpw" class="form-control" placeholder="Password">
        <input type="submit" value="로그인">
      </form>

    </div>

  </div><!-- tab-content -->

</div> <!-- /form -->

</html>
{% endblock content %}